body {
  margin:0;
  font-family: 'Roboto', sans-serif;

}


.top-header {
  background-color:#21222A;
}

.navigation {
  display:flex;
  align-items:center;
}

.nav-right {
  color:#c5ccd7;
  font-weight:700;
}

.left-side {
  width:100%;
  display:flex; 
  align-items:center;
  padding-left:2%;
  justify-content:flex-start;
  gap:10px;
}

.right-side {
  width:100%;
  display:flex;
  justify-content:flex-end;
  padding-right: 2%;

  /* flex:1 1 50%; */
}


.nav-logo {
  width:3%;
  height:3%;
  /* flex:1 1 100%; */
}

.nav-title {
  color:#60d8f6;
}
